


@section scripts{
<script src="~/Scripts/CrudJS/CrudPessoa.js"></script>
}

<div class="container">
    <h2> Registro de Pessoas</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add Nova Pessoa</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Idade
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Pais
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Pessoa</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="PessoaId">ID</label>
                        <input type="text" class="form-control" id="PessoaId" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Nome">Nome</label>
                        <input type="text" class="form-control" id="Nome" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <label for="Idade">Idade</label>
                        <input type="text" class="form-control" id="Idade" placeholder="Idade" />
                    </div>
                    <div class="form-group">
                        <label for="Estado">Estado</label>
                        <input type="text" class="form-control" id="Estado" placeholder="Estado" />
                    </div>
                    <div class="form-group">
                        <label for="Pais">Pais</label>
                        <input type="text" class="form-control" id="Pais" placeholder="Pais" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 